div.buttonGroup {
    margin-top: var(--container-padding);
    flex-direction: column;
    gap: var(--container-padding);
    align-items: center;
    justify-content: center;
}

div.buttonGroup button {
    width: 50%;
}