.stat {
  display: flex;
  justify-content: space-between;
  font-size: var(--body-font-size);
  gap: var(--content-padding);
  align-items: center;
  color: var(--white-color);
}

.statLabel {
  flex: 1;
}

.statValue {
  font-weight: bold;
  color: var(--primary-color);
  text-align: right;
}

.closeButton {
  width: unset;
  min-width: unset;
}
