.list {
    display: flex;
    gap: var(--content-padding);
    color: var(--white-color);
    align-items: center;
    justify-content: flex-start;
}

.list label {
    flex: 1;
}

.closeButton {
    width: unset;
    min-width: unset;
}
